@model NetCoreIdentityApp.WebUI.ViewModels.UserRegisterViewModel
@{
    ViewBag.Title = "Kullanıcı Kayıt - Anasayfa";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="display-4 text-center">Kayıt Ol</h3>
        <hr>
        <form asp-action="SignUp" asp-controller="Home" class="w-75 p-3 mx-auto" method="post">
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <button type="submit" name="UserRegister" class="btn btn-sm btn-outline-info">Kayıt Ol</button>
        </form>
    </div>
</div>